<!doctype html>
<html lang='en'>
 
<head>
    <title>One, Two, or Three</title>
    <meta charset='utf-8'>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Merriweather&display=swap" rel="stylesheet">
    <script src='https://unpkg.com/vue@next'></script>
    <script src='script.js' defer></script>
    <link rel="stylesheet" type="text/css" href="style.css">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<body>
    <div id='app' class="container-fluid" v-cloak>
        <div class="row">
            <div class="col-md-8">
                <h1>One, Two, or Three</h1>
                <div v-if='!playerName'>
                    <p>
                        Welcome to the game!<br />
                        What's your name? <br />
                    </p>
                    <label for='playerName'>Name: </label>         
                    <input type='text' v-model.lazy.trim='playerName' id='playerName' v-on:keyup.enter='checkName()' required > <br />
                    <button type='button' v-on:click='checkName()'>Submit</button>
                    <p v-if='errorAlert != ""'>{{errorAlert}}</p>
                </div>

                <div v-if='playerName !=""'>
                    <h3>Hello, {{ playerName }}! </h3>
                    <div v-if='!gameStarted'>
                        <p>Are you ready to begin?</p>
                        <p>When you're ready, select a range below and the press the button.</p>
            
                        <form>
                            <label for="minimumValue">Minimum Value: </label>
                            <input type='number' id='minimumValue' v-model.number.lazy='minimumValue' v-on:keyup.enter='beginGame()'> <br />
                            <label for="maximumValue">Maximum Value:</label>
                            <input type='number' id='maximumValue' v-model.number.lazy='maximumValue' v-on:keyup.enter='beginGame()'> <br />
                            <button type='button' v-on:click='beginGame()'>Start the game</button>
                        </form>
                    </div>
                    <div v-else-if='gameStarted'>
                        <p>The starting number is {{ randomNumber }}.</p>
                        <p>Current total: {{ currentNumber }}</p>
                        
                        <div v-if='gameOver != true'>
                            <p>{{message}}</p>
                            <form class="choosey">
                                <input type="radio" id="one" value="1" v-model="selection" class="choosey" required>
                                <label for="one">One</label>
                                <input type="radio" id="two" value="2" v-model="selection" class="choosey" required>
                                <label for="two">Two</label>
                                <input type="radio" id="three" value="3" v-model="selection" class="choosey" required>
                                <label for="three">Three</label><br />
                                <button type='button' v-on:click='makeSelection()'>Submit</button>
                            </form>
                            <p v-if="errorAlert">{{errorAlert}}</p>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <h2>Game History</h2>
                    <div class='col-md-9'>
                        <game-history></game-history>
                        <game-history></game-history>
                        <game-history></game-history>
                        <game-history></game-history>
                        <game-history></game-history>
                        <game-history></game-history>
                        <game-history></game-history>
                        <game-history></game-history>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>Directions</h3>
                    <ul id="directions">
                    <li>Choose a range (if desired) and then press the button to start.</li>
                    <li>The computer will choose a random number in that range.</li>
                    <li>You can then choose either 1, 2, or 3 to subtract from that number.</li>
                    <li>Then it's the computer's turn to do the same.</li>
                    <li>The goal is to AVOID being the last player left with 1 number.</li>
                    <li><strong>Good luck!</strong></li>
                    </ul>
            
                </div>
                <div v-if='gameStarted === true'>
                    <h3>Game Tally</h3>
                    <ul id="gameTally" v-if="choices.length > 0">
                        <li>Starting Number: {{ randomNumber }}</span></li>
                        <li v-for='thisChoice in choices'>{{ thisChoice.who }} played {{ thisChoice.what }}</li>
                        <li>Total: {{ currentNumber }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script id='game-history' type='text/x-template'>
        <div v-if='!deleted' class="col-sm-3 mx-auto">
            <ul>
                <li>Round #: TBD</li>
                <li>Winner: TBD</li>
            </ul>
            <button v-on:click='deleteRound()'>Delete from history</button>
        </div>
    </script>
 

    <!-- <div>
        <h2>Games tally:</h2>
        <div>
            <h4>Current Game</h4>
            <p>The game number is {{ randomNumber}}, and was selected from a range of {{ minimumValue }} to {{ maximumValue }}.</p>
            <ul>
                <li>{{ randomNumber }}</li>
                <li v-for='thisChoice in choices'>{{ thisChoice }}</li>
                <li></li>
            </ul>
            
        </div>
    </div> -->

</body>

</html>
